# Gmail SMTP Settings
GMAIL_EMAIL="your_gmail_email@gmail.com"
GMAIL_APP_PASSWORD="your_gmail_app_password_here"

# Facebook OAuth Settings
FACEBOOK_APP_ID="your_facebook_app_id_here"
FACEBOOK_APP_SECRET="your_facebook_app_secret_here" 