option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NPM_CONFIG_PRODUCTION: "false"
  
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "18.x"
  
  aws:elasticbeanstalk:container:python:
    WSGIPath: "main:app"
    NumProcesses: 3
    NumThreads: 20
  
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7 