option_settings:
  aws:elasticbeanstalk:platform:docker:
    Ports: "8000"
    LogToSerialConsole: true
  
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
    /_next: /_next
    /favicon.ico: /favicon.ico
  
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current/backend"
  
  aws:elasticbeanstalk:container:docker:
    Memory: 512
    MemoryReservation: 256 